.views { 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    height: 70%;
    margin-top: -5%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.semi-portal {
    width: 0;
}

.semi-sidesheet-mask {
    border-radius: 15px;
}

.semi-sidesheet-inner {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.semi-form-vertical .semi-form-field {
    margin-top: 0;
    padding-top: 0;
}

.semi-sidesheet-body {
    padding: 0 12px;
}

.views-right {
    flex: 1;
    height: 100%;
}

