.slider {
    width: 25%;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    padding: 24px;
    box-sizing: border-box;
}

.slider-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.slider-header-add {
    font-size: 20px;
    cursor: pointer;
}

.ant-input-affix-wrapper {
    border-radius: 55px;
}